body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Place le header en haut et le footer en bas */
    align-items: stretch; /* Étire les enfants horizontalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-color: #f4f4f9;
}
header {
    background: #35424a;
    color: #ffffff;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0.5%; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    margin-top: 0; 
    height: 15%;
    
}
header h1 {
    margin: 0; 
    flex: 1; 
    text-align: center; 
}

header .logo {
    width: auto; /* Largeur du logo */
    height: auto; /* Ajuste automatiquement la hauteur */
    margin-right: 2%; /* Espacement à droite */
    max-height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 10px;
    margin: auto;
    width: 1000px;
}
#input { 
    width: 300px; 
    margin-top: 10px; 
    margin-left: 28%;
    
}
#chatbox {
    width: 70%; 
    height: 400px; 
    border: 1px solid #ccc; 
    overflow-y: auto; 
    padding: 10px; 
    background-color: #f9f9f9; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
}

footer {
    background: #35424a;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1%;
    width: 100%; 
    box-sizing: border-box;
    margin-top: auto; 
    text-align: center;
    height: 15%;
}
.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: #ccc; 
    text-decoration: underline; 
}